<div class="container-fluid">
    <div class="row">
        <div class="col-2">
            <app-filter></app-filter>
        </div>
        <div class="col-10">
            <table class="table table-hover table-borderless">
                <thead>
                    <tr>
                        <th scope="col">PRODUCTO</th>
                        <th scope="col"></th>
                        <th scope="col">Q.</th>
                        <th scope="col" class="text-center">ESTADO</th>
                        <th scope="col">FECHA</th>
                        <th scope="col"></th>
                        <th scope="col">CLIENTE</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let task of tasks | paginate:{itemsPerPage:items, currentPage: p};">
                        <td><img width="80" src={{task.logo}} alt="Logo del Producto"> {{task.referencia}}</td>
                        <td><i [ngClass]="task.observacion != '' ? 'fas fa-exclamation-circle text-warning' : 'fas fa-info-circle text-primary'"
                                [ngbPopover]="templatePopover" placement="bottom" triggers="mouseenter:mouseleave"></i>
                        </td>

                        <ng-template #templatePopover>
                            <p><b>Obs. linea: </b>{{task.observacion}}</p>
                            <p><b>Pedido por: </b>{{task.usuario}}</p>
                        </ng-template>

                        <td>x{{task.cantidad}}</td>
                        <td class="text-center">
                            <span class="badge"
                                [ngClass]="{'bg-secondary': task.estado == 'Pendiente', 'bg-success': task.estado == 'Entregada', 'bg-info': task.estado == 'Desconsolidada'}">{{task.estado}}</span>
                        </td>
                        <td>{{task.fecha | date: "HH:mm"}} <small style="font-size: 12px;">{{task.fecha | date: "dd LLL ''yy"}}</small> </td>
                        <td class="text-center"><span class="badge"
                                [ngClass]="{'bg-primary': task.tipo == 'Mesa', 'bg-success': task.tipo == 'Ruta'}">{{task.tipo | slice:0:1}}</span>
                        </td>
                        <td class="text-right"><small style="font-size: 10px;">{{task.codigo_cliente}}</small>
                            {{task.alias_cliente}}</td>
                    </tr>
                </tbody>
            </table>

            <pagination-controls class="pagination__container" nextLabel="" previousLabel="" [maxSize]="10"
                (pageChange)="p = $event">
            </pagination-controls>
        </div>
    </div>
</div>