<div class="col text-center" *ngIf="loading">
    <img src="../../../assets/loader.gif" alt="Loading...">
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-2">
            <app-filter (sendTasksInformation)="recieveInformationTasks($event)"
                (sendLoadingInformation)="recieveInformationLoading($event)" [finishLoading]="finishLoading"></app-filter>
        </div>
        <div class="col-10">
            <app-table *ngIf="tasks.length > 0" [tasks]="tasks"></app-table>
        </div>
    </div>
</div>